# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python

# Installer logs
*.egg-info/
.installed.cfg
*.egg

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environment
.venv
venv/
env/
/bin/
/include/
/lib/

# IDE files (VS Code, Pycharm etc.)
.vscode
